<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div>
        <label>Date: </label>
        <input name="date" type="date" formControlName="date"/>
    </div>
    <div>
        <input type="file"
               multiple="true"
               name="files"
               formControlName="files"
               ngFileSelect
               [options]="options"
               (onUpload)="handleMultipleUpload($event)" />
    </div>
    <div>
        <label>Comment: </label>
        <textarea name="comment" formControlName="comment"></textarea>
    </div>
    <div>
        <button>create new post!</button>
    </div>
</form>