:host{
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 60px;
    padding-left: 20px;
    border-left: 4px solid #aaa;
}

.images{
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.images img{
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
}

sebm-google-map{
    position: relative;
    height: 160px;
}